<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_EuropeanTax>
            <version>0.3.0</version>
        </IntegerNet_EuropeanTax>
    </modules>
    <global>
        <models>
            <integernet_europeantax>
                <class>IntegerNet_EuropeanTax_Model</class>
            </integernet_europeantax>
            <sales>
                <rewrite>
                    <quote>IntegerNet_EuropeanTax_Model_Sales_Quote</quote>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <integernet_europeantax>
                <class>IntegerNet_EuropeanTax_Helper</class>
            </integernet_europeantax>
        </helpers>
        <resources>
            <integernet_europeantax_setup>
                <setup>
                    <module>IntegerNet_EuropeanTax</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </integernet_europeantax_setup>
        </resources>
        <events>
            <customer_load_after>
                <observers>
                    <integernet_europeantax>
                        <type>singleton</type>
                        <class>integernet_europeantax/observer</class>
                        <method>customerLoadAfter</method>
                    </integernet_europeantax>
                </observers>
            </customer_load_after>
        </events>
        <fieldsets>
            <customer_address>
                <tax_class_id>
                    <to_quote_address>*</to_quote_address>
                </tax_class_id>
            </customer_address>
        </fieldsets>
    </global>

    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <integernet_europeantax>
                        <type>singleton</type>
                        <class>integernet_europeantax/observer</class>
                        <method>coreBlockAbstractPrepareLayoutAfter</method>
                    </integernet_europeantax>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <customer_group_save_before>
                <observers>
                    <integernet_europeantax>
                        <type>singleton</type>
                        <class>integernet_europeantax/observer</class>
                        <method>customerGroupSaveBefore</method>
                    </integernet_europeantax>
                </observers>
            </customer_group_save_before>

        </events>
        <translate>
            <modules>
                <integernet_europeantax>
                    <files>
                        <default>IntegerNet_EuropeanTax.csv</default>
                    </files>
                </integernet_europeantax>
            </modules>
        </translate>
    </adminhtml>
</config>